@media (max-width: 768px) {
  #AsideComponent .aside-container .title {
    padding-top: 15px;
  }
}

#KeywordsComponent {
  .btn-search {
    background: #2dc997;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
}
