@media (max-width: 768px) {
  #AsideComponent .aside-container .title {
    padding-top: 15px;
  }
}

#AsideComponent {
  background: #fff;
  padding: 20px 0;

  .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }

  .input-text {
    width: 100%;
    border: 2px solid #2dc997;
  }

  .icon-box {
    background: #fff;
    background-size: cover;
    margin-bottom: 10px;

    line-height: 24px;
    font-size: 14px;

    .icon {
      float: left;
      background: #fff;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      border-radius: 50%;
      border: 2px solid #2dc997;

      i {
        color: #2dc997;
        font-size: 12px;
      }
    }

    .title {
      margin-left: 40px;
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 18px;
      text-transform: uppercase;
      color: #111;
    }
  }

  .btn-search {
    background: #2dc997;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;

    position: absolute;
    bottom: 0px;
  }

  .input-radio-container {
    padding-left: 1%;

    input {
      display: inline;
      margin-right: 10px;
    }

    p {
      display: inline;
      margin-right: 20px;
    }
  }
}
