@media (max-width: 768px) {
  #AsideComponent .aside-container .title {
    padding-top: 15px;
  }
}

#AsideComponent {
  background: #fff;
  padding: 20px 0;

  .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
  }
}
